.project {
  height: calc(100vh - 136px);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
  word-wrap: break-word;

  .photoDiv {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      max-width: 100%;
      aspect-ratio: 1 / 1;
      position: absolute;
      object-fit: cover;
    }

    #chatapp {
      object-position: 0% 100%;
    }

    @keyframes mymove {
      100% {
        transform: rotate(2160deg);
      }
    }

    .photo {
      width: 90%;
      transform: scale(0.95);
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      margin: 0 0.5em;
    }

    .image {
      max-height: 42px;
      aspect-ratio: 1 / 1;
    }
  }

  .right {
    height: 100%;
  }

  .writing {
    padding: 2em;
    margin-bottom: auto;
    height: 100%;
    text-indent: 2em;
  }
}
